= simple_form_for([@issue.project, @issue ]) do |f|
  = f.error_notification
  .inputs
    = f.input :title
    = f.input :description, :as => :text
    = f.input :tags

  .actions
    = f.button :submit
