%h1 Listing issues

%table
  %tr
    %th Title
    %th Description
    %th
    %th
    %th

  - @issues.each do |issue|
    %tr
      %td= issue.title
      %td= issue.description
      %td= link_to 'Show', [@project, issue]
      %td= link_to 'Edit', edit_project_issue_path(@project, issue)
      %td= link_to 'Destroy', [@project, issue], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Issue', new_project_issue_path(@project)
